@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbars para que parezca una app nativa */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}